[Unit]
Description=My To-Do App
Requires=todoapp.socket

[Service]
User=ec2-user
WorkingDirectory=/opt/todoapp
EnvironmentFile=/opt/todoapp/.env
ExecStart=/usr/local/bin/poetry/bin/poetry run gunicorn -b 0.0.0.0:80 'app:create_app()' --chdir /opt/todoapp/todo_app