{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>TODO Items</h2>

      <div>
        <p>
          <ul>
            <li>Toggle item between ToDo and Completed using the "Update Status" buttons</li>
            <li>Update Status of all items by toggling the checkboxes and submit via the "Update List Status" button</li>
            <li>Note: Due date is currently read-only.</li>
            <li>v2.0 (Trello to MongoDB Migration)</li>
          </ul>
        </p>
      </div>

      <form id="update_all_form" method="post" action="{{ url_for('update_todo') }}"></form>
      <form id="update_single_form" method="post" action="{{ url_for('update_single_item') }}"></form>

      <table>
        <tr>
          <th>TO DO</th>
          <th></th>
          <th>DONE</th>
        </tr>
        <tr>
          <td valign="top">
            <table>
              <tr>
                <th>Status</th>
                <th>TODO Item</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Toggle Status</th>
              </tr>
              {% for item in todo_view_model.todo_items %}
              <tr>
                <td>
                  <input form="update_all_form" type="checkbox" id="{{ item.id }}" name="{{ item.id }}" 
                      value="{{ item.status }}" >
                  </input>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><input type="date" id="dueDate" name="dueDate" value="{{item.datePickerDueDate()}}"></td>
                <td>
                  <input form="update_single_form" type="submit" id="{{ item.id }}" name="{{ item.id }}" 
                      value="Update Status" style="float: right;" >              
                  </input>
                </td>          
              </tr>
              {% endfor %}        
            </table>
          </td>
          <td></td>
          <td valign="top">
            <table>
              <tr>
                <th>Status</th>
                <th>TODO Item</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Toggle Status</th>
              </tr>
              {% for item in todo_view_model.done_items %}
              <tr>
                <td>
                  <input form="update_all_form" type="checkbox" id="{{ item.id }}" name="{{ item.id }}" 
                      value="{{ item.status }}" 'checked' >
                  </input>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><input type="date" id="dueDate" name="dueDate" value="{{item.datePickerDueDate()}}"></td>
                <td>
                  <input form="update_single_form" type="submit" id="{{ item.id }}" name="{{ item.id }}" 
                      value="Update Status" style="float: right;" >              
                  </input>
                </td>          
              </tr>
              {% endfor %}        
            </table>
          </td>
        </tr>
      </table>
      
      <p></p>

      <div class="input-group mb-3">
        <button form="update_all_form">Update List Status</button>
      </div>

    </div>
  </div>

  <p></p>
  <p></p>  

  <div class="row">
    <div class="col-md-12">
      <h3>Add Todo Items</h3>
    </div>

    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Item</span>            
      <form method="post" action="/todo/submit">
        <div class="input-group mb-3"></div>            
          <input type="text" id="todo-title" class="form-control" placeholder="Todo Item" name="todo-title" type="text" required/>            
        </div>
        <div class="input-group mb-3">
          <button id="todo-submit">Add Item</button>
        </div>            
      </form>      
    </div>

  </div>

{% endblock %}
