{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>

      <form method="post" action="/todo/update">
        <ul class="list-group mb-4">
          {% for item in todo %}
            <li>
              <input type="checkbox" id="{{ item.id }}" name="{{ item.id }}" value="{{ item.idList }}" {{'checked' if item.idList==completed_list_id else ''}}>
                {{item.name}}
              </input>
            </li>
          {% endfor %}
        </ul>
        <div class="input-group mb-3">
          <button>Update List Status</button>
        </div>
      </form>      
    </div>
  </div>

  <p></p>
  <p></p>  

  <div class="row">
    <div class="col-md-12">
      <h3>Add Todo Items</h3>
    </div>

    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Item</span>            
      <form method="post" action="/todo/submit">
        <div class="input-group mb-3"></div>            
          <input type="text" id="todo-title" class="form-control" placeholder="Todo Item" name="todo-title" type="text" required/>            
        </div>
        <div class="input-group mb-3">
          <button>Add Item</button>
        </div>            
      </form>      
    </div>

  </div>

{% endblock %}